.titre_jeu{
    display: flex;
    justify-content: center;
}

#bouton_1{
    float: left;

}

#bouton_2{
    float: right;

}
.selectedRed{
    border: red 2px solid !important;
}

.selectedBlue{
    border: blue 2px solid !important;
}

/**
Style pour les pièces noires.
*/

.noir-pion {
    display: flex;
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-pion.gif);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.noir-tour {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-tour.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.noir-cavalier {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-cavalier.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.noir-fou {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-fou.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.noir-roi {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-roi.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.noir-reine {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/noir-reine.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}


/**
Style pour les pièces blanches.
*/

.blanc-pion {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-pion.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.blanc-tour {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-tour.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.blanc-cavalier {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-cavalier.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.blanc-fou {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-fou.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.blanc-roi {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-roi.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.blanc-reine {
    width: 50px;
    height: 50px;
    border: black 1px solid;
    background-image: url(/assets/img/blanc-reine.gif);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
}


/**
Style pour le plateau.
*/

.case{
    display: flex;
    width: 70px;
    height: 70px;
    border: black 0px solid;

}


#info{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 560px;
    height: 50px;
    border: black 1px solid;
    justify-content: center;
    align-items: center;

}

#reserve_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 25px;
    float: left;
    width: 240px;
    height: 290px;
    border: black 1px solid;
}



#reserve_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-right: 25px;
    float: right;
    width: 240px;
    height: 290px;
    border: black 1px solid;
}

.grid {

    display: grid;
    width: 560px;
    height: 560px;
    margin-right: auto;
    margin-left: auto;
    border: black 1px solid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px ;
    justify-content: center;

}

/**
nth-child afin d'alterner les cases
*/

.grid input:nth-child(n):hover{
    background-color: lightblue;
}


.grid input:nth-child(n){
    background-color: white;
}

.grid input:nth-child(2n+2) {
    background-color: darkgrey;
}

.grid input:nth-child(2n+10){
    background-color: white;
}

.grid input:nth-child(2n+9) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+17){
    background-color: white;
}

.grid input:nth-child(2n+18) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+26){
    background-color: white;
}
.grid input:nth-child(2n+25) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+33){
    background-color: white;
}
.grid input:nth-child(2n+34) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+42){
    background-color: white;
}
.grid input:nth-child(2n+41) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+49){
    background-color: white;
}
.grid input:nth-child(2n+50) {
    background-color: darkgrey;
}
.grid input:nth-child(2n+58){
    background-color: white;
}
.grid input:nth-child(2n+57) {
    background-color: darkgrey;
}


.reserve_pions_1:nth-child(1)
{
    order: 1;
}
.reserve_pions_1:nth-child(2)
{
    order: 2;
}
.reserve_pions_1:nth-child(3)
{
    order: 3;
}
.reserve_pions_1:nth-child(4)
{
    order: 4;
}
.reserve_pions_1:nth-child(5)
{
    order: 5;
}
.reserve_pions_1:nth-child(6)
{
    order: 6;
}
.reserve_pions_1:nth-child(7)
{
    order: 7;
}
.reserve_pions_1:nth-child(8)
{
    order: 8;
}
.reserve_pions_1:nth-child(9)
{
    order: 9;
}
.reserve_pions_1:nth-child(10)
{
    order: 10;
}
.reserve_pions_1:nth-child(11)
{
    order: 11;
}
.reserve_pions_1:nth-child(12)
{
    order: 12;
}
.reserve_pions_1:nth-child(13)
{
    order: 13;
}
.reserve_pions_1:nth-child(14)
{
    order: 14;
}
.reserve_pions_1:nth-child(15)
{
    order: 15;
}
.reserve_pions_1:nth-child(16)
{
    order: 16;
}


.reserve_pions_2:nth-child(1)
{
    order: 1;
}






























